# Unity generated folders
Library/
Temp/
Obj/
Build/
Logs/
UserSettings/
MemoryCaptures/

# Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
.vscode/
.idea/

# OS
.DS_Store

Suhyun/automation/

Thumbs.db

