[Libraries]
[Libraries/AssetDatabase3]
[Libraries/Bee]
[Libraries/ScriptAssemblies]
Temp/
Obj/
Build/
Library/
Logs/
MemoryCaptures/
UserSettings/
.vscode/
*.csproj
*.sln
*.user
*.unityproj
.DS_Store
